.movie-card-item {
    width: 240px;
    /*
    width: 240px;
    display: flex !important;
    justify-content: center !important;
    margin-top: 25px;
    */
    .ant-card-cover {
        img {
            height: 350px !important;
        }
    }
    .ant-card-meta.title {
        text-align: center !important;
    }
}